<!DOCTYPE HTML>
<html manifest="manifest.cache">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Touch</title>

	 <!-- Ext Touch CSS -->
    <link rel="stylesheet" type="text/css"
	    href="{{ MEDIA_URL }}sencha/resources/css/sencha-touch.css"/>

	 <!-- Ext Touch JS -->
	<script type="text/javascript"
	    src="{{ MEDIA_URL }}sencha/sencha-touch-debug.js"></script>

	<script type="text/javascript"
	    src="{{ MEDIA_URL }}main.js/"></script>

	<script>




	</script>
</head>
<body>

</body>
</html>